 @import url('./reset.css');

 /* **** Especificações Gerais do Projeto ****************** 
   (acessível e utilizada em todas páginas do projeto)
   **************************** */
 :root {
  --cor-destaque: tomato;
  --cor-principal:white;
  --cor-contraste:hsl(0, 0%, 0%);
  
}
body{
  background-color: var(--cor-principal);
  color:var(--cor-contraste)
} 

 /** Telas pequenas - o padrão**/

 .container {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "propaganda"
      "footer";
    gap: 10px;
    padding:10px;
    width:clamp(375px,90vw,1600px);
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }

 /* este seletor seleciona todos filhos diretos do container*/
.container > * {
    border: 2px solid var(--cor-destaque);
    padding:5px;
    border-radius: 5px;
}

header {
  grid-area: header;
  display:flex;
  justify-content:center;
  font-size: 4rem;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
  font-size: 1.5rem;
}
nav ul{
    list-style: none;
    
    padding:0px;
}
nav li{
    border: 1px dotted var(--cor-destaque);
    border-radius: 5px;
    padding:4px;
    margin-bottom: 10px;
}
nav a{
    text-decoration: none;
    color:var(--cor-destaque);
}
aside {
  grid-area: aside;
}
.propaganda {
  grid-area: propaganda;
}
.propaganda figure{
  display:flex;
  flex-wrap: nowrap;
  flex-direction:column ;
  align-items:center ;
  
}
.propaganda img{
    margin-top: 10px;
    width: 100%;
}
footer {
  grid-area: footer;
}

/* telas intermediarias */
@media (min-width: 700px) {
  .container {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "header     header"
      "nav        nav"
      "main       aside"
      "footer     propaganda";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  :root{
    font-size: 18px;
  }
}

/* telas grandes */
@media (min-width: 900px) {
  .container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    main    aside"
      "nav    main    propaganda"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
   :root{
    font-size: 20px;
  }
}
