<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h2>Ranking de Técnicos</h2>

    <table border="1">
        <tr>
            <th>Posição</th>
            <th>Técnico</th>
            <th>Serviços Finalizados</th>
        </tr>

        {% for r in ranking %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ r[0] }}</td>
            <td>{{ r[1] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Voltar</a>
</body>
</html>