html, header, body, footer, nav, main {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    display: grid
}

.divPai {
    border: 1px solid red;
    padding: 2px;
    margin: 2px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 2px;
}

.divFilho {
    border: 1px solid blue;
    padding: 2px;
    margin: 2px;



}